[2020-06-16 17:56] koxudaxi opened #6 "Documentation"
Add documentation
- `UsefulStr`
- examples

[2020-06-16 17:57] koxudaxi opened #7 "Add Unittest"
We must add unittest on CI

[2020-06-18 09:45] koxudaxi opened #12 "Scoped imports"
this code generator has `imports` for rendering import statements.
But, The variable has all import statements.
I want to create `imports` each scope. (example: request, response, query parameter)

[2020-06-18 14:32] koxudaxi opened #13 "Add filters of jinja2"
I want to add filters of jinja2.
- snake-case
- camel-case
and other

[2020-06-18 19:16] ioggstream opened #15 "Resolve $refs"
## I expect

the generator to resolve refs

## Instead

It doesn't

[2020-06-19 01:15] koxudaxi commented on #15
@ioggstream
Thank you for creating this issue.

What type refs do you want to resolve?
Currently, the generator returns only last one element which is split `/`
https://swagger.io/docs/specification/using-ref/

Other local file? or remote file?

[2020-06-19 01:17] #7 closed

[2020-06-19 09:35] ioggstream commented on #15
Today I'll PR more breaking test cases and will look for a solution.

I expect all refs to be resolved, but let's do it incrementally :)

[2020-06-19 11:08] ioggstream commented on #15
related to https://github.com/koxudaxi/datamodel-code-generator/issues/156

[2020-07-27 14:25] ioggstream opened #24 "$refs in parameter is not processed"
## I expect

$refs in parameters to be processed, eg

[code]

## Instead

I get KeyError

[code]

[2020-07-27 14:41] ioggstream opened #25 "Support 'application/foobar+json'"
## I expect

`application/foobar+json` to be supported, eg  `application/problem+json`

## Instead

They are not parsed

## See

parser.py:242

[2020-07-27 16:01] koxudaxi commented on #24
@ioggstream
Thank you for creating this issue.
We should support `$ref` in parameters.

[2020-07-27 16:04] koxudaxi commented on #25
Thank you for suggesting the issue.
OK, We will support it.

[2020-07-27 20:31] ioggstream commented on #25
I'll PR on that this week.

[2020-07-27 20:33] ioggstream commented on #24
A solution could be to resolve all the $refs and then run the vanilla parser, which will then be `ref` - free.

WDYT?

[2020-07-28 01:35] koxudaxi commented on #24
@ioggstream
I think it's good :nerd_face:

[2020-09-15 08:29] languitar opened #26 "Arrays always assumed to contain a $ref"
The following spec currently results in a generation error:

[code]

Error message:
[code]

[2020-09-15 18:41] koxudaxi commented on #26
Thank you for reporting the problem.
I will implement it :rocket:

[2020-09-21 13:07] synclpz opened #27 "Request body assumed always ref"
Seems like codegen (0.0.13) expects:

[code]

and does not accept:

[code]

Log:

[code]

[2020-09-21 19:34] koxudaxi commented on #27
@synclpz
Thank you for creating this issue.
I will fix it this week.

[2020-09-25 01:19] dependabot-preview[bot] opened #28 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/koxudaxi) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/koxudaxi/update-logs/48656352).

[2020-10-03 19:34] #28 closed

[2020-10-13 09:25] koxudaxi opened #35 "Change datamodel-code-generator version"
`fastapi-code-generator` depends on [datamodel-code-generator](https://github.com/koxudaxi/datamodel-code-generator)

I'm working on [refactoring the internal interface](https://github.com/koxudaxi/datamodel-code-generator/issues/237) of `datamodel-code-generator`.
I will resolve the issues after the refactoring is done.
https://github.com/koxudaxi/fastapi-code-generator/issues/27
https://github.c

[2020-10-13 09:27] koxudaxi commented on #27
I'm sorry. I don't forget the issue.
I will try it after I resolve the blocker. https://github.com/koxudaxi/fastapi-code-generator/issues/35

[2020-10-28 08:15] sagu94271 opened #38 "Not able to generate Fast API code from Open API yaml file"
I am getting below error while running the command to generate the code : fastapi-codegen --input openapi.yaml --output app

TypeError: _evaluate() missing 1 required positional argument: 'recursive_guard'

![image](https://user-images.githubusercontent.com/38607315/97409472-f15b0a00-18fd-11eb-9e2d-479dc83d42bc.png)

[2020-10-29 20:15] Baukebrenninkmeijer commented on #27
Also running into this issue. Any update on this @koxudaxi?

[2020-10-30 11:07] koxudaxi commented on #38
Thank you for creating the issue.
The problem may come from Python 3.9.
Older pydantic don't support Python3.9.
I will fix the problem.

[2020-10-30 16:02] koxudaxi commented on #27
@Baukebrenninkmeijer
Thank you for posting the comment.
I will work on it this weekend.

[2020-10-30 17:26] matt-ny opened #41 "Problem generating stub for get method with array parameter"
Trying `fastapi-codegen --input maas-err.swagger.yaml --output app_fastapi` with this yaml:
[code]

I get this error:
[code]
If I remove the `parameters:` section of `isalive/` `get:` then it seems to work fine.  Are arrays supported here?

[2020-11-01 16:11] Baukebrenninkmeijer opened #43 "[suggestion] Explicitly stating the required python version"
I tried to install this library for quite a while, but pip couldn't find an appropriate version which confused me quite a lot. After a while, I realized I had python 3.7 and maybe that was the issue. After seeing the badge with python 3.8, I realized I had to use 3.8 and it worked. However, this requirement is not explicitly stated anywhere as far as I could find, apart from the button.

I think i

[2020-11-01 16:54] koxudaxi commented on #43
Thank you for posting the suggestion.

OK, I will define the required version or change the minimum required version.

I keep opening this issue for getting any opinion.

[2020-11-01 16:57] koxudaxi commented on #41
Sorry, I'm working to improve model generation like an array.
Would please wait a little longer?

[2020-11-02 02:23] matt-ny commented on #41
And thanks for your reply and your great work on this project!

[2020-11-04 17:11] koxudaxi commented on #41
@matt-ny
I have released a fixed version as `0.0.14`

[2020-11-04 17:14] koxudaxi commented on #26
@languitar
I have released a fixed version as `0.0.14`

[2020-11-04 17:14] koxudaxi commented on #27
@synclpz
I have released a fixed version as `0.0.14`

[2020-11-04 17:16] #35 closed

[2020-11-04 21:40] matt-ny commented on #41
Tried it out and it works - thanks for the fix.

[2020-11-04 21:40] #41 closed

[2020-11-09 06:15] #26 closed

[2020-11-09 06:16] #27 closed

[2020-11-09 22:52] slym commented on #24
I'm facing the same issue with latest version. Is it supposed to be fixed or are you still working on it ?

[2020-11-10 02:28] koxudaxi commented on #24
@slym
Yes, I'm working on it.
I must resolve some problems.
1. datamodel-code-generator don't parse `/components/parameters` (fastapi-code-generator use datamodel-code-generator to generate models)
2. fastapi-code-generator can't get parse name from datamodel-code-generator. (duplicated models will be renamed)

I will update datamodel-code-generator for compatibility :)

[2020-11-10 05:27] koxudaxi commented on #24
@ioggstream @slym
I have released  a new version as `0.0.16`

This version doesn't parse complex models perfectly. But, I guess covering many cases

[2020-11-10 05:28] koxudaxi commented on #25
@ioggstream
I have released a new version as 0.0.16

[2020-11-10 05:32] koxudaxi commented on #15
I believe the problem is resolved.

[2020-11-10 05:32] #15 closed

[2020-11-10 08:35] slym commented on #24
I confirm it is now working well with version 0.0.16 even with some nested refs. Great work ! Thanks.

[2020-11-10 10:35] ioggstream commented on #25
Thanks @koxudaxi ! Great work!!!!

[2020-11-10 10:36] ioggstream commented on #25
I'm closing... if something breaks, we'll reopen.

[2020-11-10 10:36] #25 closed

[2020-11-10 10:37] ioggstream commented on #38
@sagu94271 can you pls rename the issue with a more precise title? :) Thanks++, R.

[2020-11-10 10:43] ioggstream commented on #24
Thanks! As it still does not support remote refs, I'll close this and file another! Great work!

[2020-11-10 10:43] #24 closed

[2020-11-10 10:45] ioggstream opened #51 "Support remote $ref-s"
## I expect

Remote $refs in parameters to be processed, eg

[code]

and in schema.example

[code]

## Instead

I get NotImplementedError ;)

[2020-11-11 14:43] bluecatchbird opened #54 "Unable to install fastapi-code-generator with python 3.7"
I cannot install fastapi-code-generator as described in the readme on `debian 10` with `python 3.7.3`:

[code]

[2020-11-12 10:09] koxudaxi commented on #54
@bluecatchbird
I'm sorry. fastapi-code-generator don't support Python3.7.
The code-generator requires Python3.8.
I may support Python3.7 at the user's requests.

## Related issues
https://github.com/koxudaxi/fastapi-code-generator/issues/43

[2020-11-14 10:55] koxudaxi commented on #38
@sagu94271
I have released a new version as `0.0.17`
This version supports Python3.9

[2020-11-14 10:55] koxudaxi commented on #43
@Baukebrenninkmeijer
I have released a new version as `0.0.17`
This version supports Python3.7

[2020-11-14 10:56] koxudaxi commented on #54
@bluecatchbird
I have released a new version as `0.0.17`
This version supports Python3.7

[2020-11-14 10:57] koxudaxi commented on #51
@ioggstream
I have released a new version as `0.0.17`
This version supports remote ref on parameters, requestBodies and responses #57

[2020-11-14 11:04] Baukebrenninkmeijer commented on #43
@koxudaxi Great, thanks!

[2020-11-14 11:04] #43 closed

[2020-11-17 08:01] bodograumann opened #60 "Please move black to dev-dependencies"
You are listing black as a runtime dependency with a fixed version of 19.1b0. Unfortunately that conflicts with the version I want to use 20.8b1.

Afaics black is only used as a development dependency in this project, so it should be marked as such and the conflict would be resolved.

[2020-11-17 11:49] bodograumann opened #61 "Feature Request: Add descriptions for models and endpoints"
In OpenAPI there are description fields for the model schemes and all endpoints.
It would be great to have these included as docstrings in the generated code.

Cff.
- https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v3.0/petstore.yaml#L12
- https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v3.0/callback-example.yaml#L26

[2020-11-17 16:31] koxudaxi commented on #61
@bodograumann
Thank you for creating this issue.

I agree. I will implement it.

[2020-11-21 18:19] koxudaxi commented on #61
@bodograumann
I have released a new version as `0.0.18`

[2020-11-24 11:12] bodograumann commented on #61
Very nice. Could you also add the description of data models?
I guess that would have to be done in datamodel-code-generator.

[2020-11-24 15:48] boaza opened #64 "Schema with enums optional fields are not generated correctly"
When the schema includes optional string properties with enum format, the generated model crashes with the following exception:
`TypeError: Optional[t] requires a single type. Got FieldInfo(description='', extra={}).`

The reason is the generated Enum class has the same name as the Field:
    from enum import Enum
    from typing import Optional

    from pydantic import BaseModel, Field

    clas

[2020-11-24 16:17] boaza commented on #64
Found the root cause:
In Python 3.7 the generated models.py file is missing an import:
`from __future__ import annotations`

Generating directly from datamodel-code-generator (or adding the missing import) resolves the issue.

[2020-11-25 09:14] #54 closed

[2020-11-25 09:40] koxudaxi commented on #60
@bodograumann
I'm sorry. I lost a notification for this issue.
I want your problem. But, black is fixed in `datamodel-code-generator`
`    black>=19.10b0,<20`
https://github.com/koxudaxi/datamodel-code-generator/blob/4e4848fb9f03989599b2c8cc957dc30b4496afa3/setup.cfg#L37

We have to change the version of the cap.
Also, I don't know 20.8b1 is compatible with 19.1b0 🤔

[2020-11-25 10:07] koxudaxi commented on #64
Thank you for creating this issue.
OK, I will fix it in`datamodel-code-generator `

[2020-11-25 11:52] bodograumann commented on #60
I see.
Maybe you could make the code formatting in datamodels-code-generator optional, if the user wants to do their own code-formatting.
Then you could also define black as an optional dependency there.

Apart from that I think you still need to move it to dev-dependencies in fastapi-code-generator.

[2020-12-02 16:52] koxudaxi commented on #61
@bodograumann
I'm sorry for the late reply.
this model already has a description.

https://github.com/koxudaxi/fastapi-code-generator/blob/52b124b968aefb569de39ebc87793bc7f184c0d5/tests/data/expected/openapi/default_template/simple/models.py#L19

Btw, we should add a description of the path and query parameter in the docstring.

[2020-12-02 16:53] koxudaxi commented on #64
@boaza
I fixed it and relased a new version as `0.0.19`

[2020-12-02 16:56] koxudaxi commented on #60
@bodograumann
I moved black to dev-dependencies
https://github.com/koxudaxi/fastapi-code-generator/pull/65/files#diff-50c86b7ed8ac2cf95bd48334961bf0530cdc77b5a56f852c5c61b89d735fd711

And, I released it as `0.0.19`

[2020-12-02 16:57] #38 closed

[2020-12-02 16:57] #51 closed

[2020-12-24 05:42] #60 closed

[2020-12-24 10:12] #64 closed

[2021-01-07 12:13] nadworny opened #84 "ValueError: 'template/main.jinja2' is not in the subpath"
I'm trying to make my project compatible with poetry so I have to add a start method where I invoke uvicorn so that I can have the following in the poetry run script:
[code]

I have the following structure of a project:
[code]

While running the following command:
[code]

I'm getting an error:
[code]

Template:
[code]

# Env
macos
python 3.9.0
fastapi-code-generator 0.1.0

[2021-01-12 02:50] koxudaxi commented on #84
@nadworny
Thank you for creating this issue.
I fixed the problem. And  I released a new version as `0.1.1`.

[2021-01-13 09:29] #84 closed

[2021-01-18 10:40] bodograumann commented on #60
Thank you, this works nicely.

[2021-01-18 11:15] bodograumann commented on #61
I tried to produce an example from https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v3.0/callback-example.yaml#L26, but got an error about `datamodel_code_generator.Error: Modular references require an output directory, not a file`.
Maybe this is already fixed in a newer version of datamodel-code-generator, but I have no idea how to install it, when you fix the dependency version

[2021-01-18 15:48] koxudaxi commented on #61
@bodograumann

datamodel-code-generator doesn't expect the generated model is nothing.
I will fix it.

You are right.
I will change it.

[2021-01-21 07:22] Kavan72 opened #94 "Is there any way to generate client code ?"

[2021-01-21 13:03] Kavan72 opened #95 "Is there any way to generate api client from yaml?"
Hey, @koxudaxi
First, Thank for this great library. Now, I'm trying to create microservice with fastapi and here is the my scenario.
I've build one api server with fastapi. Now i've to use this apis on another two microservices. So i'm looking for is there a any way to generate api class from first api server's yaml ?

[2021-01-21 13:03] #94 closed

[2021-01-21 18:01] koxudaxi commented on #95
@Kavan72
Thank you for using this library 😄

I answer your question. There is a code generator for the API client from OpenAPI.
https://github.com/dmontagu/fastapi_client
David Montague created this library. He contributes to FastAPI and Pydantic.
But, I think develop status is not active.

I will implement the feature on the fastapi-code-generator when a lot of users want it.
Also,  I talked with

[2021-01-22 08:58] Kavan72 commented on #95
@koxudaxi
ohh nice i dont know this library thank for it. And it would be great if you implement in your library.

[2021-01-25 16:58] koxudaxi commented on #61
Hi @bodograumann

I improved the relationship between fastapi-code-generator and datamodel-code-generator.

Would you please check a new version `0.2.0`?

[2021-01-26 13:28] bodograumann commented on #61
Nice, now I can generate the example from https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v3.0/callback-example.yaml#L26.
Also my own method has the description from `summary` :heart:

Here are some more suggestions, of what could be displayed. Not sure whether there is a place for it in the generated code though.

- [Line 8 of the callback example](https://github.com/OAI/OpenAPI

[2021-01-28 21:04] tomercagan opened #104 "Feature request: $ref from local file"
First of - very useful library/tool - thanks for making it!

I have a set of OpenAPI files ([from these 3GPP specification](https://forge.3gpp.org/rep/sa5/MnS/tree/Rel-16/OpenAPI)) which I want to use.

In these files, many `$ref`s point to components from local files.

For example:

[code]

or

[code]

I see that the generator supports remote references but it does not support local files. It won

[2021-01-29 08:13] tomercagan commented on #104
If anyone run into such issue before it was otherwise resolved, here are a few suggestions of how to get this working:

**Using remotely hosted copy**
If using a standardized OpenAPI specifications, you may be able to find it online and the tool knows how to deal with that.

**Modify and host your definitions files**
This will require to search-and-replace all the `$ref`s to start with http/https.

[2021-01-30 08:23] koxudaxi commented on #104
@tomercagan
Thank you for creating this issue and giving workarounds 😄

I explain why this project hasn't supported $ref from the local file yet.
I'm working on developing [datamodel-code-generator](https://pepy.tech/project/datamodel-code-generator) aggressively.
A lot of user uses datamodel-code-generator that to generate models from JSONSchema/OpenAPI, etc...
They request resolving complex $ref

[2021-02-04 08:06] tomercagan commented on #104
@koxudaxi - thanks for the reply.

I started to create tests but I am a little stack - I am able to run the test using `poetry run pytest` but I then get a failure `httpx.ConnectError: [Errno 11001] getaddrinfo failed` even though I am not sure why it is trying to make the request because I'm supposed to work locally.

I am trying to debug in PyCharm (after installing the amazon Poetry plugin, tha

[2021-02-05 18:57] tomercagan commented on #104
@koxudaxi - I have created a patch to add local ref support along with relevant tests.

When I run the unit tests (./scripts/test.sh) I am getting a failure in one of the existing tests:

    FAILED tests/test_generate.py::test_generate_custom_security_template[oas_file0] -
    AssertionError: assert '# generated ...:\n    pas...

Initially I thought I broke something but this happens (to me) on a

[2021-02-07 17:09] koxudaxi commented on #104
@tomercagan
I feel the change is good as the first step 🎉
But, I guess `pets.yaml#/components/parameters/MyParam` is not parsed in `pets.yaml`.
If you get `MyParam` then the parser parsed it from  `body_and_parameters.yaml `
`openapi_model_parser._get_ref_body` is only get dict object from openapi.
The method parses any object.
We have to parse target object with `openapi_model_parser.parse_xxxx`

[2021-02-07 18:33] tomercagan commented on #104
@koxudaxi - I am not sure I understand your comment...

When I remove the code I added and run the new tests, I am getting

Which means it never continue past the local reference. The "negative" test I added also shows the same - if pets.yaml is not in proper path relative to `pwd`, it throws an error.

With that additional code I made, parsing is completed successfully.

I also removed `component

[2021-02-08 03:03] koxudaxi commented on #104
@tomercagan
I'm sorry for my comment is wrong.
I wanted to say you get an error when you remove  `components/schemas/PetForm` in `body_and_parameters.yaml`.

I cloned your repo and I tested it with the changes.

Changes
[code]

Test results
[code]

[2021-02-08 07:44] tomercagan commented on #104
@koxudaxi - you are correct - first, my input files are a little sloppy - I didn't remove duplicate stuff and next, the test indeed fails when I do so.

I tried to look into what is going on and I can't say I have good enough grasp to pinpoint the issue. I will say that the main.py assertion is ok and the problem comes with the model file which from what I gather is completely generated by datamod

[2021-02-09 07:00] tomercagan commented on #104
I thought about it more and I am not sure why the main file is generated properly while the model does not - in general they rely on the same parser... I am wondering/considering that maybe first we have to do some work on datamodel_code_generator - but from what I understood - it is a more sensitive project...

[2021-02-09 07:38] koxudaxi commented on #104
There are two roles in the codegen.
1. generate `main.py` by `fastapi_code_generator.parser.OpenAPIParser`
2. generate `models.py` by `datamodel_code_generator.parser.openapi.OpenAPIParser`   aka `fastapi_code_generator.parser.OpenAPIModelParser`

You have implemented a parser for `main.py`.
This parser searches simple type(like str, int, float...) and referenced model(`$ref`).
The parser doesn't

[2021-02-19 10:09] koxudaxi opened #114 "Support empty response when status code is 200"

[2021-02-19 10:10] koxudaxi opened #115 "Support x-www-form-urlencoded request"

[2021-04-02 07:59] rambobinator opened #131 "Handle all request parameter types"
Hi,

Thanks for this tool !
I'm trying to infer request parameter type, based on what's inside "in" field in operation's parameters.
It appears that only Query parameter type is handled for the moment, is it a known issue ? Willing to help and PR if needed.

[2021-04-05 14:39] #115 closed

[2021-04-05 15:11] koxudaxi commented on #131
Thank you for creating this issue.
And I'm sorry for my late reply.

Yes, the problem is related to the issue https://github.com/koxudaxi/fastapi-code-generator/issues/104

First, This code-generator  depends  [datamodel-code-generator](https://github.com/koxudaxi/datamodel-code-generator) .
Second, I'm working on improving datamodel-code-generator to resolve complex schemas.
Third, I have a plan

[2021-05-02 14:41] oktavlachs commented on #24
Hey @koxudaxi @ioggstream,
thank you so much for your work on this project, it really helps a lot!
Today I ran into this issue with a url ref and thought it might be a bug within the scope of this thread:

[code]

Error was:
[code]
Should your gernerator also cover this nested content type?
Thanks!

[2021-05-02 19:30] koxudaxi commented on #24
@oktavlachs
Thank you for posting the problem.
I have not known that `parameters` can accept `content`.
OK, I will fix it.

[2021-05-03 06:24] ioggstream commented on #24
@koxudaxi not sure that `parameters` can accept `content` in OAS3 though.

[2021-05-03 07:08] koxudaxi commented on #24
@ioggstream
Yes, Me too :sweat_smile:

[2021-05-03 09:18] oktavlachs commented on #24
I work with a quite big, complex and nested 3gpp OAS3 in this case ;)

[2021-05-04 12:29] oktavlachs commented on #24
@koxudaxi @ioggstream
Could you give me an update how you will proceed?
Additionally: Will you reopen this issue or should I create a new one?
Thanks :)

[2021-05-04 17:28] koxudaxi commented on #24
@oktavlachs
I'm sorry for the late reply.

I have released a new version as `0.2.5`
Would please check it?

In this week, I'm trying to support generic type in pydantic-pycharm-plugin.
https://github.com/koxudaxi/pydantic-pycharm-plugin/issues/275
I will update fastapi-code-generator after the work.

[2021-05-05 10:23] oktavlachs commented on #24
Again, thanks a lot for taking care of this issue so quickly! :1st_place_medal:

I am one step further, but now I am facing an issue in the "datamodel-code-generator" dependency.
But I am unsure whether this is an issue there, an issue as a result of your fix, or an issue at all.
Maybe you have a clue?

It seems that a lot of classes in the specs are not resolved. Neither local spec references (#c

[2021-05-05 11:33] oktavlachs opened #153 "Sort generated required body and query/path parameters"
Given OAS3 like this:
[code]
Expected behaviour:
The required body is generated BEFORE the optional parameters in the Python code.

![image](https://user-images.githubusercontent.com/38793469/117134402-d46c2b80-ada5-11eb-9011-3af9da00d29e.png)

Actual behaviour:
The required body is generated AFTER the optional parameters in the Python code. I have to bring it into the right order by hand to solve

[2021-05-05 16:57] koxudaxi commented on #24
@oktavlachs
I guess `http://localhost:8081/...` is not resolved. :thinking:
The error will be shown when any unresolved $ref is found.

Would you please upload the schema?
I want to check the schema to investigate the error.

[2021-05-05 16:58] koxudaxi commented on #153
@oktavlachs
Thank you for creating this issue.
Oh, it's a bug.
I will fix the problem :cat:

[2021-05-06 07:43] oktavlachs commented on #24
@koxudaxi
I am pretty sure that the url is resolvable. I let wireshark run while executing the generator and none of the HTTP requests returned a 404.

The schemas are quite nested though with additionals $ref.

As an example: I found something in the logs for unresolved references which looks different from the others. Is this a valid reference within your library?

**Schema**
[code]

**Error log

[2021-05-06 15:50] koxudaxi commented on #24
@oktavlachs

Great!! :)

[code]
Good catch!!
The $ref expect case-sensitive.
Can you change the $ref to an actual path?

If you can't resolve the problem that way, then  I want to check all lines.

[2021-06-07 16:00] oktavlachs commented on #24
@koxudaxi Sorry for taking so long.
I wasn't able to solve the issue, I am afraid.

As you suggested, here is the link to the yaml files I use to generate the code with:

https://github.com/jdegre/5GC_APIs

More specific, I am trying to generate this server https://github.com/jdegre/5GC_APIs/blob/master/TS29503_Nudm_SDM.yaml

I replaced the $ref to other files with a URL, which pointed to a simple

[2021-06-08 17:34] koxudaxi commented on #24
@oktavlachs
Thank you for giving the source.

Unfortunately, the fastapi-code-generator's model parser is not complete.
But, I have a plan.
I'm working on implementing an OpenAPI parser in the datacode-model-generator.
https://github.com/koxudaxi/datamodel-code-generator/pull/438

after I finish it, I will change that the fastapi-code-generator uses the parser for generating parameter models :wink

[2021-06-09 12:21] oktavlachs commented on #24
@koxudaxi

That sounds great! 🙂
Do you roughly foresee how long that will take? Is it a small or a big task?

[2021-06-09 17:52] koxudaxi commented on #24
It's a big task!!
I have a road map.
1. add OpenAPI path parser to datamodel-code-generator
2. add extension interface on datamodel-code-generator for a third-pary library like fastapi-code-generator
3. refactor fastapi-code-generator for the extension interface.
5. check your schema with the new version of fastapi-code-generator.

I would complete step 1 this week.

Btw, I'm busy recently. I want

[2021-06-14 14:06] sa4zet commented on #153
I have the same problem, just with custom header
[code]

[2021-06-17 16:25] koxudaxi commented on #153
@oktavlachs @sa4zet
I have released a fixed version as `0.2.7`

[2021-06-17 17:33] sa4zet commented on #153
Yeah, the order is same, but you used ... to resolve the problem.
I solved this problem in `0.2.6` using this template:

[code]

instead of this:
[code]

Thanks for your work anyway!

[2021-06-17 17:38] koxudaxi commented on #153
Yes. I didn't change the order.
I think the changing order may cause injecting a bug.
We usually expect the same order for each method.

[2021-06-17 17:48] sa4zet commented on #153
It's not a problem, just an observation ^^

[2021-06-18 13:38] oktavlachs commented on #24
@koxudaxi
Sounds like a plan!

I also just discovered that there has been a FastAPI generator added to the popular OpenAPITools openapi-generator project.
It will probably be released soon.

https://github.com/OpenAPITools/openapi-generator/commit/0da409986889dcfab1420fb1410ae9509a5834c8

Are you aware of this?
Do you know what the differences or (dis-)/advantages are from your project?
Cheers!

[2021-06-18 18:28] sa4zet opened #176 "Not 200 response generated wrong"
Example path:

[code]

The code generated:
[code]
This code tells nothing about status code, so fastapi response status code is 200 instead of 204.

The code need to be generated:
[code]
This code tells fastapi to respond status code 204 not 200.

[2021-06-19 04:15] koxudaxi commented on #176
@sa4zet
Thank you for creating this issue.
I will implement it.

[2021-06-19 05:02] koxudaxi commented on #24
@oktavlachs

I didn't know it.

I guess `openapi-generator-cli` can support openapi features like multiple status codes of responses.
But, We can implement the features to fastapi-code-generator.
And the code-generator creates project files (tests, docker file, ....)

However, `openapi-generator-cli` can generate only a simple model.
https://github.com/OpenAPITools/openapi-generator/commit/0da4099

[2021-06-21 07:17] oktavlachs commented on #24
@koxudaxi

That makes sense and I get the idea that pydantic models will be far better to adjust also then the ones generated by the cli project. Alright then, I am excited too see what you can make possible within your project.

Can I somehow contribute?

[2021-06-21 17:48] koxudaxi commented on #24
@oktavlachs
Sure, I always welcome PR and suggestions.
If you have ideas for a new feature, then you can create an issue for each request.
Also, you can create PRs directly if the changes are small.
Thank you!!

[2021-06-28 04:32] aeresov opened #179 "support for constraints in Query/Body rather than as "conX"

[2021-06-28 04:36] aeresov opened #180 "support for constraints in Query rather than as "conX" expression"
I just tried to use query array parameter in my schema, and I bumped into the fact FastAPI needs explicit declaration that parameter comes from Query:

https://fastapi.tiangolo.com/tutorial/query-params-str-validations/#query-parameter-list-multiple-values

Current implementation of this generator only applies Query in parameter's default value only if its original shema name differs from its snak

[2021-07-08 21:16] ddehueck opened #181 "How to update api.yaml and keep main.py route logic?"
1. Let's say I currently have the api.yaml and added route logic to main.py (no longer just "pass"):

[code]

2. I now realize I want to add another search parameter `offset` so I make the necessary changes in api.yaml and run `fastapi-codegen --input api.yaml --output app`

**The output I receive:**
[code]

**Versus the output I would like:**
[code]

Is it possible to get this behavior?

[2021-07-09 14:48] koxudaxi commented on #179
@aeresov
Thank you for creating this issue.
I will implement it

[2021-07-09 14:49] koxudaxi commented on #180
@aeresov
OK, I will think about how to support it.
Thank you

[2021-07-09 14:53] koxudaxi commented on #181
@ddehueck
Thank you for creating this issue.
if you know the rule then you can resolve the problem by the custom template option ` -t, --template-dir`

Example template:
https://github.com/koxudaxi/fastapi-code-generator/tree/master/tests/data/custom_template/security

[2021-07-09 16:04] ddehueck commented on #181
Hi @koxudaxi thanks for the response! I do see I can update the template and add code that will always be a part of the template but I don't think that's quite what I'm looking for.

The rule I have in mind would be: if operation already exists in` main.py` keep route logic (don't replace with `pass`) but rebuild function definition. This ways it's easy to add new paths and parameters to an existi

[2021-07-19 23:20] #181 closed

[2021-08-03 04:28] maneeshsethi opened #186 "Confused how to set up an API key auth using this generator"
Hello! This looks very cool.

I can create the server fine, and load the jinja templates, but I'm not sure how to assign the correct Security to operations.

I want to add these:

[code]

How do I add this into the jinja template properly?

[2021-08-08 08:33] koxudaxi commented on #24
@oktavlachs
I have released a new version `0.3.0`
The version use parser of the `datamodel-code-generator`.

I tried to parse your schema.
Unfortunately, the code generator can't parse the schema yet.
I will check the problem of `datamodel-code-generator`.

[2021-08-08 09:43] oktavlachs commented on #24
@koxudaxi
Awesome, thanks for keeping this up. I am sure when that is solved there will be nothing stopping me from using your solution for code generation!
Just keep in mind that there might also be a bug in the spec, as they were discovered in other 3gpp OAS3 files in the past. But what you describe sounds more like some internal stuff in your project maybe.
Anyway, thanks and would be happy if

[2021-08-09 17:40] koxudaxi commented on #186
@maneeshsethi
I'm sorry for my late reply.

There is an example template for security.

https://github.com/koxudaxi/fastapi-code-generator/blob/master/tests/data/custom_template/security/main.jinja2

And, this is generated file.
https://github.com/koxudaxi/fastapi-code-generator/blob/master/tests/data/expected/openapi/custom_template_security/custom_security/main.py

Does the example help you?

[2021-08-18 13:03] Minyus opened #189 "Comparison with openapi-generator"
Hi @koxudaxi ,

Thank you for your package!
It seems openapi-generator's `python-fastapi` provides a functionality similar to this tool, but what do you think are the differences (pros and cons)?

https://openapi-generator.tech/docs/generators/python-fastapi/

[2021-08-19 16:17] haviduck commented on #189
for me atleast, i havent been aple to append field examples with the openapi generator.  ive tried building my own template for it but failed hard. this adds everything and i love the output code. if i were to nitpick the only thing i miss is a parameter to output seperate models instead of one py file.

[2021-08-19 18:49] koxudaxi commented on #189
@Minyus
Hi @Minyus
I answered the same question https://github.com/koxudaxi/fastapi-code-generator/issues/24#issuecomment-864356253
We should write the difference on the document.

[2021-08-21 00:11] Minyus commented on #189
@koxudaxi
Thank you for sharing your thoughts!
Yes, documentation would be helpful for many users.

[2021-08-24 13:36] Minyus opened #190 "[Feature Request] Docker project generation similar to openapi-generator"
Hi @koxudaxi ,

As mentioned at https://github.com/koxudaxi/fastapi-code-generator/issues/24#issuecomment-864356253 , this tool does not generate a Docker project similar to openapi-generator-cli.

It would be great if:
- this tool supports Docker project generation option; or
- openapi-generator-cli's [python-fastapi](https://openapi-generator.tech/docs/generators/python-fastapi/) supports an opt

[2021-08-27 23:55] Minyus commented on #190
I look forward to the new feature.
Thank you!

[2021-08-28 04:47] Minyus commented on #190
Just in case if you want to try openapi-generator-cli's python-fastapi as reference, its generated pytest code included in the Docker image fails due to a bug reported at https://github.com/OpenAPITools/openapi-generator/issues/10280

[2021-09-03 14:30] slamer59 opened #196 "Generation break if parameter name contains illegal character like :"
The following schema will break creating this function
`def list_pets(rs:query: Optional[int] = None) -> Pets:`

schema.yml
[code]

Solution is to replace `:` but another legal character like `_`

[2021-09-03 14:36] slamer59 commented on #196
This can be change with a specific template jinja and `replace` function for exemple

[2021-09-08 06:47] koxudaxi commented on #196
@slamer59
Thank you for creating this issue.
The code-generator must changes it to a valid name.
I will fix it. thank you.

[2021-09-23 13:05] danielMicallef opened #199 "Running Example app results in "ImportError: attempted relative import with no known parent package""
When generating an app with the [example yaml file provided](https://github.com/koxudaxi/fastapi-code-generator#example) generates failing relative imports (using Python 3.8)

The import created `from .models import Pets` should be updated to `from models import Pets`

Issue is probably caused here: https://github.com/koxudaxi/fastapi-code-generator/blob/master/fastapi_code_generator/__main__.py#L

[2021-10-06 15:57] koxudaxi commented on #199
I'm sorry for the late reply.
If we remove `.` then It can't be worked.
If you would like to avoid the warning we should use an absolute path like `from app.models import Pets`

[2021-10-16 07:44] oktavlachs commented on #153
@koxudaxi @sa4zet
Can we close this issue?

[2021-10-16 13:46] UKnowWhoIm opened #205 "Empty `response_model` gets typehinted to `Any`, which is not imported"
### How to reproduce:

- Omit the `response_model` in the router decorator
- Run this on the openapi.json file
- The result's main.py would have used `Any` for the empty response model and type hint without importing it.

### Why does this happen?

My take is that the `datamodel-code-generator` you use to create schemas and resolve imports won't create this schema as its empty. Therefore its impor

[2021-10-16 13:47] UKnowWhoIm commented on #205
Is this what you meant by  #114?

[2021-10-22 13:28] rominf opened #207 "Add support for tags"
It would be great to have support for tags. I volunteer to implement this, I just don't want to start implementing it before https://github.com/koxudaxi/fastapi-code-generator/pull/203 is merged to avoid merge conflicts.

FastAPI docs: https://fastapi.tiangolo.com/tutorial/path-operation-configuration/#tags

[2021-10-22 14:18] rominf opened #208 "Make it possible to have app and endpoint handlers in different files"
When API is extensive, it's not convenient to have everything (except models) in one file. I suggest splitting the template and using [template inheritance](https://jinja.palletsprojects.com/en/3.0.x/templates/#template-inheritance) to make it easier to write a custom code generator.

[2021-11-12 10:35] olivergondza commented on #181
I run into the same problem. Oftentimes, the schema is a living thing that we want to evolve, and code generation is a great way to keep the code and schema in sync.

[2021-11-23 12:11] cardellcr commented on #199
Hello, any plan on fix this issue??

[2021-11-24 11:27] DarioGonzalez-Axians opened #215 "AttributeError raised with MEF-LSO-Legato generated OpenAPI"
I get an AttributeError when I run fastapi-codegen with some OpenAPI files generated from [MEF-LSO-Legato](https://github.com/MEF-GIT/MEF-LSO-Legato-SDK/) Billie Release. The exception is raised inside jsonschema parser library. Here is the error:

[code]

I left a "frozen" version of MEF-LSO-Legato in [this public repo](https://github.com/DarioGonzalez-Axians/MEF-LSO-Legato-billie-final) and just

[2021-11-29 17:01] LongBeachHXC opened #221 "Unbound local error when not defining '--model-file'"
seems like there could be a bug that requires the use of `--model-file` rather than it be Optional.

When I pass in `--model-file` the program runs.

[code]

[2021-11-30 11:57] olivergondza opened #222 "Code generation completes silently, generating nothing for schemas with 0 content sections"
I run into an issue that some schema I was working on, caused no files to be generated (and old files not overwritten, as one would expect). It appears to happen when there are no `content` sections in the yaml.

Reproducible as `fastapi-codegen --input spec.yaml --output generated/`, with both 0.3.0 and 0.3.2. The command prints nothing and completes with 0 exit code.

Working:
[code]

Broken:
[c

[2021-12-08 17:27] ChameleonRed opened #226 "Unclear problem to solve "Exception: Modular references are not supported in this version""
It is not clear for me how to solve this problem - where is problem and why is problem?

Traceback (most recent call last):
  File "C:\root\Python\Python39\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\root\Python\Python39\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\root\Python\Python39\Scripts\fastapi-code

[2021-12-08 19:37] olivergondza opened #227 "No Request parameter generated for `requestBody` with `multipart/form-data`"
I am describing a schema for uploading files, and hence using `multipart/form-data` content type for `requestBody`. The generated function have no argument provided. Note that the `request: Request` is correctly generated for `application/x-www-form-urlencoded` content type.

[code]

[2021-12-17 08:01] HirossxD opened #228 "How to generate response_class instead of response_model?"
I want  to generate
[code]
but it's generating
[code]

[2022-01-09 14:27] LongBeachHXC commented on #227
I also need this functionality. My specific use case is allowing clients to upload a file. According to the fastapi docs [here](https://fastapi.tiangolo.com/tutorial/request-files/), it talks about using the UploadFile and File data types. The recommended approach is to use the UploadFile type.

This library does not yet support the `multipart/form-data` MIME type for a requestBody. @koxudaxi I'm

[2022-01-09 14:29] LongBeachHXC commented on #221
This can be closed with #223

[2022-01-09 14:29] #221 closed

[2022-02-03 08:48] bd-cp opened #230 "Need to bump datamodel-code-generator to 0.11.18"
Following error is thrown with the current version using `datamodel-code-generator==0.11.15`:
[code]

Simple workaround until it is bumped:
`pip install -U datamodel-code-generator==0.11.18`

[2022-02-25 01:10] geowat opened #232 "TypeError: unsupported operand type(s) for /: 'tuple' and 'str'"
I have just discovered this library. But the example is not even running and there seems to be a problem which may be related to the issue reported [here](https://github.com/koxudaxi/datamodel-code-generator/issues/700). What is the work-around just to get the library going - any older versions which would work?

[code]

[2022-03-03 09:03] polysalama commented on #232
Having the same problem with a clean virtualenv on python 3.8.12 and 3.10.2.

[2022-03-03 11:09] Davidswinkels commented on #232
Having the same issue on Python 3.9.7, fastapi-code-generator 0.3.4 and datamodel-code-generator 0.11.15 on Windows.

[2022-03-04 12:30] asik03 commented on #232
Quick fix:

In the source code `/python3.9/site-packages/datamodel_code_generator/format.py`:

I have changed manually in line 45

`path = root /  "pyproject.toml"`

to

`path = root[0] /  "pyproject.toml"`

The project was generated automatically after this change.

[2022-03-04 13:07] Davidswinkels commented on #232
Thanks asik03 it works again :)

Also in `/python3.9/site-packages/datamodel_code_generator/__main__.py` line 432 had to be changed from:

`pyproject_toml_path = root / "pyproject.toml"`

to:

`pyproject_toml_path = root[0] / "pyproject.toml"`

[2022-05-17 11:07] olivergondza commented on #232
This is fixed in 0.3.5. Thanks!

[2022-05-17 11:17] olivergondza opened #251 "Illegal FastAPI constructor generated (AttributeError: 'str' object has no attribute 'get': server_data.get("url"))"
Using default main template:

[code]

Generates invalid `FastAPI` constructor when servers are used:

[code]
(note the `servers` key value is actually a string).

Full stacktrace:
[code]

Removing the `"` from the template in `{{ key }} = "{{ value }}"` does not help as it breaks the scalar keys. What do help is removing `servers` from OpenApi spec.

Version 0.3.5.

[2022-05-17 11:19] olivergondza commented on #251
Seems introduced by https://github.com/koxudaxi/fastapi-code-generator/commit/987a91a0520bccc4cd8067d99c2506cc35a50a44

[2022-06-21 15:22] holdenweb opened #260 "Test_generate fails on master branch"
I'd expect tests to pass cleanly on the master branch. Did I do something wrong?

[code]

[2022-07-25 13:05] mbnoimi opened #267 "SQLModel supporting"
Have you considered to support SQLModel?

[2022-07-28 14:48] jcarlosgalvezm commented on #260
Hi @koxudaxi,

Thanks for accepting my PR!

Now you can close this issue and recreate all the dependantbot PRs (https://docs.github.com/en/code-security/dependabot/working-with-dependabot/managing-pull-requests-for-dependency-updates#managing-dependabot-pull-requests-with-comment-commands)

Best regards!

[2022-08-08 16:22] #260 closed

[2022-08-11 10:25] aktentasche opened #269 "$ref parameter prevents code generation"
I am trying to use $ref parameters in my openapi yaml, however as soon as I insert a $ref entry no code is generated (the folder is but it contains no files) and no error is thrown.

I took the code from #24, so my minimum working example is:

openapi.yaml
[code]

But the same happens with my actual openapi definition. As soon as I add a $ref parameter, no code is generated.

command:

`fastapi-co

[2022-08-13 19:43] aktentasche commented on #269
Ok so I found out I can use $refs in the schema but this not so clean if I really want to use the exact same parameter in several places, I would need to repeat it in every place.

So in below API definition the demo_pizza_factory_instance is part of every query.

[code]

[code]

[2022-09-06 05:44] jayvdb commented on #232
I think this issue should be closed.

[2022-09-06 05:44] jayvdb commented on #230
I think this issue should be closed.

[2022-09-11 04:04] Chise1 opened #277 "Special input parameter support"
An error is reported when a function variable is a Python keyword. Like this:
[code]
Maybe you should generate something like this:
[code]

[2022-09-15 08:38] jcarlosgalvezm commented on #232
Hi @koxudaxi,

When do you plan to publish the new changes to pypi?

Thank you!

[2022-09-16 13:24] n0nvme commented on #232
@jcarlosgalvezm It's already published in [0.3.5](https://github.com/koxudaxi/fastapi-code-generator/releases/tag/0.3.5) release

[2022-10-18 09:15] aktentasche opened #281 "Outdated datamodel-codegen version in PyPI/last release"
Hi,

I am using datamodel-code-generator as well as fastapi-code-generator in a project (thanks for your efforts!)

Unfortunately datamodel-code-generator is currently pinned at 0.11.19 in the PyPI at the last release 0.3.5 and I would like to use the newest, fancy features of datamodel-code-generator ;)

Would it be possible to create a new release with datamodel-code-generator  0.13.1 (that's th

[2022-10-18 09:32] aktentasche commented on #281
P.S.: in the mean time I will use

`poetry add git+https://github.com/koxudaxi/fastapi-code-generator.git#master`

[2022-10-21 10:33] afonsobspinto opened #282 "422 Unprocessable Entity with camelCase on path parameter"
When generating code with a template definition that contains `operation.snake_case_arguments` like:
[code]
and using an openapi specification that contains camelCased path parameters like:
<details>
  <summary>
GET /subjects/{subjectId}
</summary>

[code]

</details>

We end up with a default parameter for `subject_id` of type `Path`:
[code]
Due to that, valid requests like:
` GET /subjects/1 `

[2022-10-24 14:19] aktentasche commented on #281
Awesome, thanks :rocket:

[2022-10-24 14:19] #281 closed

[2022-10-25 00:16] koxudaxi commented on #281
@aktentasche
Thank you for your sponsoring :bow:

[2022-11-04 01:10] #230 closed

[2022-11-23 20:10] Aedial opened #296 "Path '#-datamodel-code-generator-#-root-#-special-#' is added to the '/' endpoint"
When generating from a schema with a '/' endpoint, the root path ('#-datamodel-code-generator-#-root-#-special-#') is added to the endpoint, transforming it into '/#-datamodel-code-generator-#-root-#-special-#'.
When used as a fastapi endpoint, '/' returns 404, showing that the it broke the endpoint. The endpoint responds normally when the root path is removed manually.

[2022-11-23 20:27] Aedial commented on #296
Minimal working example :
[code]

[2022-11-23 20:29] Aedial opened #297 "Array of array loses its constraints"
An array of arrays gets translated into List[List[T]], even when the second array has contraints, losing these constraints. Minimal working example :
[code]

I see 2 solutions to that :
1 - Use a conlist to keep the contraints. Albeit compact and easy (only a few lines to add around datamodel-code-generator/types.py L87,L254 and datamodel-code-generator/parser/jsonschema.py L772), it would stand o